<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/profilePhoto.jpg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Bercheñi Eguiazabal Priscila Shikana</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis adipisci perferendis, dicta quibusdam quos ut ab obcaecati! Praesentium animi odio itaque beatae quisquam rerum veniam doloremque architecto perferendis. Accusamus, illo!</p>
        </span>
    </div>
</div>