<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h3>Agenda</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum nisi molestiae alias sunt suscipit qui ex nobis officiis totam eligendi pariatur eum quaerat quae reiciendis officia mollitia ullam, quisquam aliquam?</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="" class="img-fluid img-proyecto">
        </div>
    </div>
</div>
